# PyPI publishing tokens
# Get from https://pypi.org/manage/account/token/
PYPI_TOKEN=pypi-...

# TestPyPI token for testing publish workflow
# Get from https://test.pypi.org/manage/account/token/
TEST_PYPI_TOKEN=pypi-...
